<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.handy.es3x.java">

    <application>
        <activity android:name=".main.JavaImplActivity" />
        <activity android:name=".main.CameraSurfaceActivity" />
        <activity android:name=".main.CameraTextureActivity" />
        <activity android:name=".main.FilterActivity" />
    </application>

</manifest>